<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Automation Suite">
    <test name="IFrames, Tabs, Alerts and Dropdowns Tests">
        <classes>
            <class name="tests.GlobalSqaTests"/>
        </classes>
    </test>
</suite>